[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This would be a web page to display news. Here users can read news, follow favorite interesting topics and discuss about them as well.
[access "refs/*"]
	owner = group user/Susmita Prakash (susmitagr8)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Susmita Prakash (susmitagr8)
	label-Verified = -1..+1 group user/Susmita Prakash (susmitagr8)
	push = group user/Susmita Prakash (susmitagr8)
	read = group user/Susmita Prakash (susmitagr8)
	rebase = group user/Susmita Prakash (susmitagr8)
	removeReviewer = group user/Susmita Prakash (susmitagr8)
	submit = group user/Susmita Prakash (susmitagr8)
[access "refs/heads/*"]
	create = group user/Susmita Prakash (susmitagr8)
	push = +force group user/Susmita Prakash (susmitagr8)
	pushMerge = group user/Susmita Prakash (susmitagr8)
	read = group user/Susmita Prakash (susmitagr8)
[access "refs/tags/*"]
	push = group user/Susmita Prakash (susmitagr8)
	push = +force group user/Susmita Prakash (susmitagr8)
