.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    float: right;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  .author{
    font-weight: bold;
  }
.current{
    display: block;
}
.pp{
    float: right;
    height: 40px;
}
.bb1{
    float: left;
    height: 40px;
}
   /* .current .author{
     
  } */
 /* .current .content{
    float: right;
} */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  .cont{
    height: 507px;
    overflow-y: auto;
    background-color: yellow;
  }
  .msg{
    height: 65px;
    width: 100vw;
  }